body{color:#333;background:#edebeb;padding:0;margin:0;position:relative;}
body,th,td,.p1,.p2{font-family:arial}
p,form,ol,ul,li,dl,dt,dd{margin:0;padding:0;list-style:none}
input{padding-top:0;padding-bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
table,img{border:0}
td{font-size:9pt;line-height:18px}
a em{text-decoration:none;color: #666}
.clearfix:after{display: block;content: '';clear: both;}
.clearfix{zoom: 1;}
